# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [ ]:
my_tuple = (3,2,1,"I","am","Hungry",["pizza","muffin","cookies"],["poulet",2,True],{"Name":"Maxime","Age":24,"Year":2000},{"Hobby":"Natation","Passion":"Reading","Nature":"Shy"},)
print (my_tuple)

(3, 2, 1, 'I', 'am', 'Hungry', ['pizza', 'muffin', 'cookies'], ['poulet', 2, True], {'Name': 'Maxime', 'Age': 24, 'Year': 2000}, {'Hobby': 'Natation', 'Passion': 'Reading', 'Nature': 'Shy'})

Now, access the second-to-last item in the second list.

In [15]:
my_tuple = (3,2,1,"I","am","Hungry",["pizza","muffin","cookies"],["poulet",2,True],{"Name":"Maxime","Age":24,"Year":2000},{"Hobby":"Natation","Passion":"Reading","Nature":"Shy"},)
print (my_tuple[-3][1:3])

[2, True]

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [ ]:
my_tuple = (3,2,1,"I","am","Hungry",["pizza","muffin","cookies"],["poulet",2,True],{"Name":"Maxime","Age":24,"Year":2000},{"Hobby":"Natation","Passion":"Reading","Nature":"Shy"},)
print (my_tuple[-4:])

(['pizza', 'muffin', 'cookies'], ['poulet', 2, True], {'Name': 'Maxime', 'Age': 24, 'Year': 2000}, {'Hobby': 'Natation', 'Passion': 'Reading', 'Nature': 'Shy'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [ ]:
my_tuple = (3,2,1,"I","am","Hungry",["pizza","muffin","cookies"],["poulet",2,True],{"Name":"Maxime","Age":24,"Year":2000},{"Hobby":"Natation","Passion":"Reading","Nature":"Shy"},)
my_list = list(my_tuple)
my_list[3]="I,Maxime the Great"
my_new_tuple=tuple(my_list)
print (my_new_tuple)

(3, 2, 1, 'I,Maxime the Great', 'am', 'Hungry', ['pizza', 'muffin', 'cookies'], ['poulet', 2, True], {'Name': 'Maxime', 'Age': 24, 'Year': 2000}, {'Hobby': 'Natation', 'Passion': 'Reading', 'Nature': 'Shy'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highest total.

In [ ]:
tuple_1=(20,4124,78,56,90)
tuple_2=(11,798,339,2270,1527)

if sum(tuple_1)>sum(tuple_2):
  print(f"{tuple_1} has the highest total")
else:
  print(f"{tuple_2} has the highest total")

(11, 798, 339, 2270, 1527)has the highest total

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [ ]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

string_1=input("Write a string ")
new_position=int(input("Write an integer position "))

my_list = list(my_tuple)
my_list[new_position] = string_1
new_tuple = tuple(my_list)

print(new_tuple)

Write a string t
Write an integer position 3
('data analyst', 'data scientist', 'data engineer', 't')